html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'sans-serifarial unicode ms';
  font-weight: 500;
  color: #353535;
  letter-spacing: 5;
  line-height: 2.0;
  background-color: #f8f8f8;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
  text-align: center;
}

img {
  width: 100%;
  vertical-align: top;
}

p {
  font-weight: lighter;
  color: #484848;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

a:hover {
  text-decoration: none;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.content-wrapper {
  margin: 0 auto;
  width: 62%;
}

section h2 {
  font-size: 2rem;
}

.main {
  text-align: center;
}

header a {
  cursor: pointer;
}

header img {
  width: 34px;
  height: 34px;
  margin-top: 24px;
}

header {
  background-color: #f8f8f8;
  border-bottom: thin solid #e4e3e3;
  position: fixed;
  width: 100%;
  z-index: 100;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 97%;
  margin: 0 auto;
  height: 82px;
}

header .header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header ul li {
  padding-left: 29px;
  line-height: 82px;
}

header .header ul li a {
  color: #484848;
  font-size: 15px;
  font-weight: bold;
}

header .header .start {
  margin-right: 50px;
  margin-bottom: 40px;
  cursor: pointer;
}

header .header .start p {
  background-color: #d6395b;
  color: #f8f8f8;
  padding: 2px 14px;
  border-radius: 8px;
  letter-spacing: 0;
  font-size: 15px;
  margin-top: 24px;
  font-weight: bold;
}

.main-visual {
  padding-top: 83px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}

.main-visual img {
  height: 580px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.container {
  position: absolute;
  background-color: #f8f8f8;
  top: 150px;
  right: 100px;
  height: 359px;
  width: 395px;
  padding: 32px 32px 40px 32px;
  border-radius: 4px;
}

.container .container-header h1 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.container .container-form p {
  margin: 0;
}

.container .container-form .place select {
  width: 100%;
  color: #353535;
  border: 1px solid #ebebeb;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
}

.container .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.container .person .room {
  width: 60%;
  margin-right: 15px;
}

.container .person .room select {
  width: 100%;
  color: #353535;
  border: 1px solid #ebebeb;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
}

.container .person .guest {
  width: 40%;
}

.container .person .guest select {
  width: 100%;
  color: #353535;
  border: 1px solid #ebebeb;
  padding: 15px;
  border-radius: 5px;
  font-size: 15px;
}

.container .entry button {
  width: 100%;
  padding: 15px;
  background-color: #d6395b;
  color: #f8f8f8;
  border: none;
  margin-top: 28px;
  border-radius: 5px;
}

.main-visual-text {
  margin-top: 60px;
}

.main-visual-text .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-visual-text .content-wrapper .main-visual-text {
  width: 50%;
  margin-right: 75px;
  margin-left: 10px;
}

.main-visual-text .content-wrapper .main-visual-text h2 {
  font-size: 25px;
}

.step {
  margin-top: 70px;
}

.step .content-wrapper .step-header {
  text-align: center;
  line-height: 1.3;
}

.step .content-wrapper .step-header h1 {
  font-size: 50px;
  position: relative;
  display: inline-block;
  padding: 0;
  line-height: 1.5;
}

.step .content-wrapper .step-header h1:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  display: inline-block;
  width: 60px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #353535;
}

.step .content-wrapper .step-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.step .content-wrapper .step-list .step-text {
  width: 90%;
  margin: 0 25px 0 25px;
}

.step .content-wrapper .step-list .step-text a {
  color: #3c807a;
}

.step .content-wrapper .step-list .step-text a:hover {
  border-bottom: 1px solid #3c807a;
}

.step .content-wrapper .step-list .step-text h2 {
  margin-top: 10px;
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 0;
}

.safety .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 520px;
  margin: 180px auto;
  width: 63%;
}

.safety .content-wrapper .safety-text {
  width: 50%;
}

.safety .content-wrapper .safety-text .safety-text-list {
  position: relative;
  margin-top: 80px;
  margin-right: 80px;
}

.safety .content-wrapper .safety-text .safety-text-list .quotaiton {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  font-size: 110px;
  font-weight: bold;
  color: #f3b238;
  line-height: 0;
  font-family: serif;
}

.safety .content-wrapper .safety-text .safety-text-list h2 {
  line-height: 1.5;
  font-weight: lighter;
  font-size: 30px;
}

.safety .content-wrapper .safety-text .safety-text-list p {
  color: #949494;
}

.safety .content-wrapper .safety-text .safety-text-list a {
  border: 2px solid #353535;
  padding: 15px 25px;
  background-color: #f8f8f8;
  color: #353535;
  letter-spacing: 2;
  border-radius: 5px;
  font-weight: bold;
}

.safety .content-wrapper .safety-img {
  width: 50%;
}

.safety .content-wrapper .safety-img img {
  height: 100%;
  width: 98%;
  -o-object-fit: cover;
     object-fit: cover;
}

.safety-list {
  margin-bottom: 90px;
}

.safety-list .content-wrapper .safety-header {
  text-align: center;
}

.safety-list .content-wrapper .safety-header h1 {
  font-size: 50px;
  position: relative;
  display: inline-block;
  padding: 0;
  line-height: 1.5;
}

.safety-list .content-wrapper .safety-header h1:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  display: inline-block;
  width: 60px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #353535;
}

.safety-list .content-wrapper .safety-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.safety-list .content-wrapper .safety-text .safety-text-1 {
  width: 45%;
  margin-right: 90px;
}

.safety-list .content-wrapper .safety-text .safety-text-1 a {
  color: #3c807a;
}

.safety-list .content-wrapper .safety-text .safety-text-1 a:hover {
  border-bottom: 1px solid #3c807a;
}

.safety-list .content-wrapper .safety-text .safety-text-2 {
  width: 55%;
}

.safety-list .content-wrapper .safety-text .safety-text-2 ul li {
  position: relative;
}

.safety-list .content-wrapper .safety-text .safety-text-2 ul li::before {
  content: "";
  position: absolute;
  top: .1em;
  left: -20px;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  width: 8px;
  height: 15px;
  border-right: 1px solid #3c807a;
  border-bottom: 1px solid #3c807a;
}

.pay {
  margin-top: 190px;
}

.pay .content-wrapper .pay-header {
  line-height: 1.3;
}

.pay .content-wrapper .pay-header h1 {
  position: relative;
}

.pay .content-wrapper .pay-header h1:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  display: inline-block;
  width: 60px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #353535;
}

.pay .content-wrapper .pay-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pay .content-wrapper .pay-list .pay-text {
  width: 30%;
}

.pay .content-wrapper .pay-list .pay-text h2 {
  font-size: 25px;
  letter-spacing: 0;
}

.pay .content-wrapper .pay-list .pay-text a {
  color: #3c807a;
}

.pay .content-wrapper .pay-list .pay-text a:hover {
  border-bottom: 1px solid #3c807a;
}

.tessa {
  margin-top: 140px;
}

.tessa .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tessa .content-wrapper .tessa-img {
  width: 55%;
}

.tessa .content-wrapper .tessa-text {
  width: 45%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 90px;
  position: relative;
}

.tessa .content-wrapper .tessa-text h2 {
  line-height: 1.5;
}

.tessa .content-wrapper .tessa-text p {
  line-height: 1.5;
}

.tessa .content-wrapper .tessa-text .quotaiton {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  font-size: 110px;
  font-weight: bold;
  color: #f3b238;
  line-height: 0;
  font-family: serif;
}

.tessa .content-wrapper .tessa-text a {
  border: 2px solid #353535;
  padding: 15px 25px;
  background-color: #f8f8f8;
  color: #353535;
  letter-spacing: 2;
  border-radius: 5px;
  font-weight: bold;
}

.about {
  margin-top: 200px;
}

.about .content-wrapper .about-header {
  position: relative;
  line-height: 1.3;
}

.about .content-wrapper .about-header h1 {
  position: relative;
}

.about .content-wrapper .about-header h1:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  display: inline-block;
  width: 60px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #353535;
}

.about .content-wrapper .about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.about .content-wrapper .about-list .about-text {
  width: 80%;
  margin-right: 60px;
  margin-left: 10px;
}

.about .content-wrapper .about-list .about-text a {
  color: #3c807a;
}

.about .content-wrapper .about-list .about-text a:hover {
  border-bottom: 1px solid #3c807a;
}

.faq {
  margin-top: 140px;
}

.faq .content-wrapper .faq-header h1 {
  position: relative;
}

.faq .content-wrapper .faq-header h1:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  display: inline-block;
  width: 60px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #353535;
}

.faq .content-wrapper .faq-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq .content-wrapper .faq-list .faq-text {
  width: 100%;
  margin: 0 15px 0 15px;
}

.faq .content-wrapper .faq-list .faq-text .button {
  padding-bottom: 26px;
  border-bottom: 1px solid #e4e3e3;
  display: block;
  color: #539993;
}

.faq .content-wrapper .faq-list .faq-text .button a {
  font-size: 18px;
}

.faq .content-wrapper .faq-list .faq-text .button a:hover {
  border-bottom: 1px solid #539993;
}

.details {
  margin-top: 50px;
}

.details .content-wrapper h2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.details .content-wrapper .detail-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.details .content-wrapper .detail-list .detail-list-text {
  display: block;
  cursor: pointer;
}

.details .content-wrapper .detail-list .detail-list-text h3 {
  margin: 15px 0 0 0;
  font-size: 16px;
  line-height: 1.7;
}

.details .content-wrapper .detail-list .detail-list-text p {
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.7;
}

.details .content-wrapper .detail-list .detail-list-text a {
  margin-top: 8px;
  font-size: 14px;
  color: #539993;
}

.details .content-wrapper .detail-list .detail-list-text a:hover {
  border-bottom: 1px solid #539993;
}

.last-visual {
  margin: 100px 0 60px 0;
}

.last-visual .content-wrapper {
  width: 76%;
  height: 95%;
  position: relative;
}

.last-visual .content-wrapper .last-visual-text {
  position: absolute;
  display: block;
  left: 8%;
  top: 11%;
  width: 35%;
}

.last-visual .content-wrapper .last-visual-text h1 {
  letter-spacing: 0;
  text-align: left;
  font-size: 60px;
  line-height: 1.0;
  color: white;
}

.last-visual .content-wrapper .last-visual-text a {
  background-color: white;
  padding: 15px 21px;
  border-radius: 5px;
  color: #353535;
  font-weight: bold;
}

footer {
  background-color: #f3f3f3;
  border-top: 1px solid #DDDDDD;
}

footer .content-wrapper {
  width: 77%;
  margin-top: 50px;
}

footer .content-wrapper .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 35px;
}

footer .content-wrapper .footer-list .footer-list-text {
  width: 70%;
  margin-left: 10px;
  margin-right: 10px;
}

footer .content-wrapper .footer-list .footer-list-text h4 {
  font-size: 13px;
}

footer .content-wrapper .footer-list .footer-list-text .footer-list-list {
  display: block;
  margin-bottom: 9px;
}

footer .content-wrapper .footer-list .footer-list-text .footer-list-list a {
  font-size: 14px;
  line-height: 1.4;
  font-weight: lighter;
}

footer .content-wrapper .footer-list .footer-list-text .footer-list-list a:hover {
  border-bottom: 1px solid #353535;
}

footer .content-wrapper .footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #e4e3e3;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer .content-wrapper .footer-end ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .content-wrapper .footer-end ul .footer-list-1 {
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0;
  line-height: 1.4;
  width: 900px;
}

footer .content-wrapper .footer-end ul .footer-list-1 a:hover {
  border-bottom: 1px solid #353535;
}

footer .content-wrapper .footer-end ul .footer-list-2 {
  margin-right: 20px;
}

footer .content-wrapper .footer-end ul .footer-list-2 a {
  border-bottom: 1px solid #353535;
}

footer .content-wrapper .footer-end ul .footer-list-2 i {
  margin-right: 10px;
}

footer .content-wrapper .footer-end ul a {
  color: #353535;
}

footer .content-wrapper .footer-end ul .footer-list-3 {
  width: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}

@media screen and (max-width: 1127px) {
  .content-wrapper {
    width: 60%;
  }
  h1 {
    font-size: 40px;
  }
  header {
    display: none;
  }
  header .header ul li {
    display: none;
  }
  header .header .start {
    display: none;
  }
  .main-visual {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
  }
  .main-visual img {
    height: 310px;
    background-size: cover;
  }
  .main-visual .container {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    width: 60%;
    height: 100%;
    margin: 20px auto;
    padding: 0;
  }
  .main-visual .container .container-header {
    position: absolute;
    width: 77%;
    top: 200px;
    left: 100px;
    margin: 0;
  }
  .main-visual .container .container-header h1 {
    margin-bottom: 0;
    text-align: left;
    color: #f8f8f8;
  }
  .main-visual .container .container-form p {
    font-weight: bold;
  }
  .main-visual-text .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
  }
  .main-visual-text .content-wrapper .main-visual-text {
    width: 80%;
    margin: 0 auto 40px auto;
  }
  .step .content-wrapper {
    width: 60%;
  }
  .step .content-wrapper .step-header h1 {
    font-size: 40px;
  }
  .step .content-wrapper .step-header h1:after {
    content: "";
    position: absolute;
    left: 30px;
    top: -15px;
    display: inline-block;
    width: 60px;
    height: 2px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #353535;
  }
  .step .content-wrapper .step-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .step .content-wrapper .step-list .step-text {
    margin-bottom: 30px;
  }
  .safety .content-wrapper {
    margin: 0 auto;
  }
  .safety .content-wrapper .safety-text .safety-text-list .quotaiton {
    font-size: 55px;
  }
  .safety .content-wrapper .safety-text .safety-text-list h2 {
    font-size: 18px;
  }
  .safety .content-wrapper .safety-text .safety-text-list p {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.2;
  }
  .safety .content-wrapper .safety-text .safety-text-list a {
    display: block;
    padding: 8px 18px;
    margin-top: 20px;
  }
  .safety .content-wrapper .safety-img img {
    height: 60%;
    margin-top: 70px;
  }
  .safety-list .content-wrapper .safety-header h1 {
    font-size: 40px;
  }
  .safety-list .content-wrapper .safety-header h1:after {
    content: "";
    position: absolute;
    left: 30px;
    top: -15px;
    display: inline-block;
    width: 60px;
    height: 2px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #353535;
  }
  .safety-list .content-wrapper .safety-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .safety-list .content-wrapper .safety-text .safety-text-1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .safety-list .content-wrapper .safety-text .safety-text-2 {
    width: 100%;
  }
  .safety-list .content-wrapper .safety-text .safety-text-2 ul li {
    margin-bottom: 15px;
  }
  .pay .content-wrapper {
    margin-top: 0;
  }
  .pay .content-wrapper .pay-header h1:after {
    content: "";
    position: absolute;
    left: 30px;
    top: -15px;
    display: inline-block;
    width: 60px;
    height: 2px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #353535;
  }
  .pay .content-wrapper .pay-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .pay .content-wrapper .pay-list .pay-text {
    width: 100%;
    margin-bottom: 30px;
  }
  .pay .content-wrapper .pay-list .pay-text h2 {
    line-height: 1.2;
  }
  .footer-end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .footer-end .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
  }
  .footer-end .footer-flex .footer-list-2 {
    font-size: 15px;
    color: black;
  }
  .footer-end .footer-flex .footer-list-3 a {
    font-size: 18px;
    color: black;
  }
  .tessa .content-wrapper {
    margin: 0 auto;
  }
  .tessa .content-wrapper .tessa-text .quotaiton {
    font-size: 55px;
  }
  .tessa .content-wrapper .tessa-text h2 {
    font-size: 18px;
  }
  .tessa .content-wrapper .tessa-text p {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.2;
  }
  .tessa .content-wrapper .tessa-text a {
    display: block;
    text-align: center;
    padding: 8px 18px;
    margin-top: 20px;
  }
  .about {
    margin-top: 150px;
  }
  .about .about-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-list h2 {
    font-size: 25px;
  }
  .about .about-list a {
    color: #3c807a;
  }
  .about .about-list a:hover {
    border-bottom: 1px solid #3c807a;
  }
  .faq .content-wrapper .faq-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .faq .content-wrapper .faq-list .faq-text .button a {
    font-size: 16px;
  }
  .details .content-wrapper h2 {
    line-height: 1.2;
  }
  .details .content-wrapper .detail-list .detail-list-text {
    margin-right: 5px;
    margin-left: 5px;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(167, 167, 167, 0.24);
            box-shadow: 2px 2px 2px 2px rgba(167, 167, 167, 0.24);
  }
  .last-visual .content-wrapper {
    width: 100%;
  }
  .last-visual .content-wrapper .last-visual-text {
    left: 22%;
  }
  .last-visual .content-wrapper .last-visual-text h1 {
    font-size: 40px;
  }
  footer .content-wrapper {
    width: 95%;
  }
  footer .content-wrapper .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .content-wrapper .footer-list .footer-list-text {
    width: 100%;
    margin: 0 0 20px 0;
    border-bottom: 1px solid  #DDDDDD;
  }
  footer .content-wrapper .footer-list .footer-list-text h4 {
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.8em;
  }
  footer .content-wrapper .footer-list .footer-list-text .footer-list-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 10px;
  }
  footer .content-wrapper .footer-list .footer-list-text .footer-list-container .footer-list-list {
    width: 300px;
    margin-bottom: 10px;
  }
  footer .content-wrapper .footer-list .footer-list-text .footer-list-container .footer-list-list a {
    display: block;
    font-size: 0.8em;
  }
  footer .content-wrapper .footer-end ul .footer-list-1 {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 743px) {
  .content-wrapper {
    width: 93%;
  }
  .main-visual .container .container-header {
    width: 70%;
    top: 120px;
    right: 0;
    margin: 0;
  }
  .main-visual-text .content-wrapper {
    width: 93%;
  }
  .main-visual-text .content-wrapper .main-visual-text {
    width: 100%;
  }
  .step .content-wrapper {
    width: 93%;
  }
  .step .content-wrapper .step-header {
    text-align: left;
  }
  .step .step-list .step-text {
    width: 100%;
    margin: 0;
  }
  .safety .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 100%;
    margin: 0 auto;
    width: 93%;
  }
  .safety .content-wrapper .safety-text {
    width: 100%;
  }
  .safety .content-wrapper .safety-text .safety-text-list {
    margin: 40px 0 80px 0;
  }
  .safety .content-wrapper .safety-img {
    width: 100%;
    margin: 0 auto;
  }
  .safety .content-wrapper .safety-text a {
    width: 224px;
  }
  .safety-list .content-wrapper .safety-header {
    text-align: left;
  }
  .safety-list .content-wrapper .safety-header h1:after {
    content: "";
    position: absolute;
    left: 30px;
    top: -15px;
    display: inline-block;
    width: 60px;
    height: 2px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #353535;
  }
  .safety-list .content-wrapper .safety-text .safety-text-2 ul li {
    padding-left: 30px;
  }
  .safety-list .content-wrapper .safety-text .safety-text-2 ul li::before {
    left: 10px;
  }
  .safety-img .content-wrapper img {
    width: 100%;
    height: 690px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pay .content-wrapper {
    width: 93%;
  }
  .pay .content-wrapper .pay-header h1 {
    text-align: left;
  }
  .pay .content-wrapper .pay-list {
    margin: 0;
  }
  .tessa .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 93%;
    height: 100%;
    margin: 0 auto;
  }
  .tessa .content-wrapper .tessa-text {
    width: 100%;
  }
  .tessa .content-wrapper .tessa-text .safety-text-list {
    margin: 40px 0 80px 0;
  }
  .tessa .content-wrapper .tessa-img {
    width: 100%;
    margin: 0 auto;
  }
  .tessa .content-wrapper .tessa-text {
    margin: 40px 0 80px 0;
  }
  .tessa .content-wrapper .tessa-text a {
    width: 224px;
  }
  .about .content-wrapper {
    width: 93%;
  }
  .about .content-wrapper .about-header h1 {
    text-align: left;
  }
  .about .content-wrapper .about-header h1:after {
    content: "";
    position: absolute;
    left: 30px;
    top: -15px;
    display: inline-block;
    width: 60px;
    height: 2px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #353535;
  }
  .about .content-wrapper .about-list {
    margin: 0;
  }
  .about .content-wrapper .about-list .about-text {
    margin: 0;
  }
  .faq .content-wrapper {
    width: 93%;
  }
  .faq .content-wrapper .faq-header h1 {
    text-align: left;
  }
  .faq .content-wrapper .faq-header h1:after {
    content: "";
    position: absolute;
    left: 30px;
    top: -15px;
    display: inline-block;
    width: 60px;
    height: 2px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #353535;
  }
  .faq .content-wrapper .faq-list {
    margin: 0;
  }
  .faq .content-wrapper .faq-list .faq-text {
    margin: 0;
  }
  .details .content-wrapper {
    width: 93%;
  }
  .details .content-wrapper h2 {
    text-align: left;
  }
  .details .content-wrapper .detail-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .details .content-wrapper .detail-list .detail-list-text {
    height: 90px;
    width: 100%;
    margin: 10px 0;
    overflow: hidden;
  }
  .details .content-wrapper .detail-list .detail-list-text img {
    width: 90px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    float: left;
  }
  .details .content-wrapper .detail-list .detail-list-text .detail-list-list {
    margin-left: 110px;
  }
  .details .content-wrapper .detail-list .detail-list-text a {
    display: none;
  }
  footer .content-wrapper {
    width: 93%;
  }
  footer .content-wrapper .footer-list .footer-list-text .footer-list-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .content-wrapper .footer-list .footer-list-text .footer-list-container .footer-list-list {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .main-visual .main-visual-img {
    width: 93%;
    margin: 0 auto;
  }
  .main-visual .container .container-header {
    left: 80px;
    top: 150px;
  }
  .main-visual .container .container-header h1 {
    font-size: 1.5em;
    line-height: 30px;
  }
  .safety-img .content-wrapper {
    height: 348px;
  }
  .safety-img .content-wrapper img {
    height: 100%;
  }
  .last-visual .content-wrapper img {
    height: 375px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .last-visual .content-wrapper .last-visual-text {
    width: 90%;
    left: 5%;
  }
}
/*# sourceMappingURL=style.css.map */